.content-section {
  display: flex;
  margin: 10px 250px;
}

.content-section > svg {
  width: 50vw;
}

.team-text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.team-text-section > p{
  text-align: justify;
}
